.coklat {
	border-color: #6F472D;
	background: #6F472D;
}

.coklat:hover {
	border-color: #6F472D;
	background: rgb(75, 48, 30) !important;
}

.coklat:focus {
	box-shadow: 0 0 0 0.2rem rgba(75, 48, 30, .5);
}

.shop_product_count span {
	color: rgb(75, 48, 30);
}

.active-product {
	color: rgb(75, 48, 30) !important;
}

.page_nav li:hover a {
	color: rgb(75, 48, 30) !important;
}

.kuning {
	background: #F8BF00;
	border-color: #F8BF00;
	text-align: center;
}

.tabs_line span {
	background: rgb(75, 48, 30) !important;
}

.kuning:hover {
	border-color: #6F472D;
	background: rgb(75, 48, 30);
}

.kuning:focus {
	box-shadow: 0 0 0 0.2rem rgba(75, 48, 30, .5);
}

.kuning:active {
	background-color: rgb(75, 48, 30) !important;
	border-color: #6F472D !important;
	box-shadow: 0 0 0 0.2rem rgba(75, 48, 30, .5) !important;
}

.product_new {
	background: #F8BF00;
}

.product_cart_button {
	background: #F8BF00;
}

.product_cart_button:hover {
	background: rgb(75, 48, 30);
}

.arrivals_single_button {
	background: #F8BF00;
}

.arrivals_single_button:hover {
	background: rgb(75, 48, 30);
}

.arrivals_slider .slick-dots li.slick-active {
	background: #6F472D;
}

.arrivals_slider .slick-dots li:hover {
	background: rgb(75, 48, 30) !important;

}

.button_kategori_sidebar:hover {
	color: #6F472D !important;
}

.form-control:focus {
	color: rgb(75, 48, 30) !important;
	;
	background-color: #fff;
	border-color: #6F472D !important;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(75, 48, 30, .25) !important;
}

/* .main_nav {
    background: #F8BF00;
    color: #FFFFFF;
}*/

.cat_menu_container {
	background: #6F472D;
}

.standard_dropdown li a:hover {
	color: #6F472D;
}

.cart_text a:hover {
	color: #6F472D;
}

.page_menu_content {
	background: #6F472D;
}

.reviews_dots .owl-dot.active {
	background: #6F472D;
}

.newsletter_unsubscribe_link a {
	color: #6F472D;
}

.newsletter_unsubscribe_link a:hover {
	color: #6F472D;
}

.footer_phone {
	color: #6F472D;
}

.produk-baru-mobile {
	display: none !important;
}

.all-produk-mobile {
	display: none !important;
}

.bannerku {
	display: block;
	height: 490px;
	/* height of container */
	overflow: hidden;
	margin-left: 495px;
	margin-right: 191px;
}

.banner-gambar {
	position: absolute;
	top: 24%;
	width: 53%;
	left: 43%;
}

.banner-judul {
	position: absolute;
	top: 21%;
	left: 12%;
	font-size: 25px;
	width: 318px;
}

.banner-button {
	position: absolute;
	top: 47%;
	left: 64%;
	color: #FFFFFF;
}

.banner-title {
	position: absolute;
	top: 13%;
	left: 12%;
	font-size: 48px;
}

a {
	color: rgb(75, 48, 30);
}

a:hover {
	color: rgb(75, 48, 30);
}

.newsletter_text p {
	font-size: 20px;
	text-align: right;
}

.footer_sociall {
	margin-top: 27px;
}

.footer_sociall ul {
	margin-bottom: 71px;
}

.logo a {
	font-size: 27px;
}

.footer_sociall ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 16px;
	text-align: center;
}

.footer_sociall ul li i {
	color: #000000;
	line-height: 30px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.footer_sociall ul li:hover i {
	color: #0e8ce4;
}

.newsletter_text p {
	font-size: 20px;
	text-align: right;
}

.newsletter_input {
	width: 42%;
	height: 50px;
	background: #FFFFFF;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	padding-left: 25px;
	font-size: 14px;
	outline: none;
	color: rgb(75, 48, 30);
}

.product_name div a:hover {
	color: rgb(75, 48, 30);
}

.arrivals_single_name a:hover {
	color: rgb(75, 48, 30);
}

.newsletter_input:focus {
	border: solid 1px rgba(75, 48, 30, 0.3);
	box-shadow: 0px 1px 5px rgba(75, 48, 30, 0.3);
}

.reviews_all a {
	color: #6F472D;
}

.footer_phone {
	margin-top: 2px;
	font-size: 17px;
	font-weight: 100;
}

.newsletter_title {
	text-align: right;
}

.newsletter_button {
	right: auto;
	width: 124px;
}

.blog_button {
	background: #6F472D;
}

.blog_button:hover {
	background: rgb(75, 48, 30);
}

.blog_button a:hover {
	color: #FFF;
}

table.fixed {
	table-layout: fixed;
}

table.fixed td {
	overflow: hidden;
}

.badge-coklat {
	background: #6F472D;
}

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #F8BF00;
}

.copyright {
	background: #6F472D;
}

.copyright_content {
	color: rgba(255, 255, 255, 0.781);
}

.card-comments .card-comment img {
	height: 1.875rem;
	width: 1.875rem;
	float: left;
}

.img-circle {
	border-radius: 50%;
}

.card-comments {
	background: #f8f9fa;
}

.card-footer {
	padding: .75rem 1.25rem;
	background-color: rgba(0, 0, 0, .03);
	border-top: 0 solid rgba(0, 0, 0, .125);
}

.card-comments .card-comment:first-of-type {
	padding-top: 0;
}

.card-comments .card-comment {
	border-bottom: 1px solid #e9ecef;
	padding: 8px 0;
}

.card-comments .comment-text {
	color: #78838e;
	margin-left: 40px;
}

.card-comments .username {
	color: #495057;
	display: block;
	font-weight: 600;
}

.card-comments .text-muted {
	font-size: 12px;
	font-weight: 400;
}

.text-muted {
	color: #6c757d !important;
}

.float-right {
	float: right !important;
}

.form-control {
	color: #6F472D;
}

.card-comment .comment-child {
	margin-left: 36px;
	margin-top: 5px;
}

select {
	margin-left: unset;
}

.blogku {
	padding-top: 0px;
	padding-bottom: 0px;
}

.loop .loopGrid.post {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.loop .loopGrid {
	display: grid;
}

.item_post {
	position: relative;
}

.item_post img {
	border-radius: 2px;
}

.imgWrap {
	margin-top: 10px;
	position: relative;
	display: block;
	overflow: hidden;
}

.item_post .postGrid {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
}

.item_post .postGrid .avaPost img {
	display: block;
	border-radius: 40px;
	background: #f2f2f2;
	width: 40px;
	height: 40px;
}

.item_post .postGrid .infoPost small {
	opacity: .8;
	display: block;
	margin-top: 10px;
}

.rating_komen {
	margin-top: 0px;
}

.rating_komen i::before {
	font-size: 15px;
}

select.fa {
	font-family: "Font Awesome 5 Free", 'Rubik';
	font-weight: 100;
}

.contact_info_image {
	width: unset;
	height: unset;
	text-align: center;
	font-size: 33px;
	color: rgb(75, 48, 30);
}

.navbar {
	padding: .5rem 3rem;
}

.bg-light-brown {
	background-color: #6f472d12 !important;
	border-radius: 7px;
}

.main_nav_dropdown li a {
	color: rgb(75, 48, 30);
}

html {
	scroll-behavior: smooth;
}

/* .header_search_form_container {
	width: 132%;
	left: 114px;
} */

.main_nav {
	background: unset;
}

.bannerku {
	top: -76px;
}

.header {
	margin-top: 145px;
}

.fragment {
	position: fixed;
	width: 100%;
	z-index: 999;
	box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.11);
	background-color: #ffffff;
}

.input_field {
	color: rgb(75, 48, 30);
}

.text_field {
	color: #4b301e;
}

.top_bar {
	height: 0px;
	border-bottom: unset;
	background: #FFFFFF;
}

.mypanel {
	padding-top: 30px;
	padding-bottom: 30px;
}

.mypanel1 {
	padding-top: 10px;
	padding-bottom: 30px;
}

.order_info {
	margin-top: unset;
}

.product_price {
	margin-top: 13px;
}

.single_product {
	padding-top: 70px;
	padding-bottom: unset;
}

.product_text>ul {
	margin-left: 20px;
	list-style: unset;
}

.standard_dropdown li {
	width: 33%;
	text-align: left;
}

.top_bar_menu {
	width: 118%;
}

.header_search {
	height: 145px;
	margin-left: 10px;
}

.logo_container {
	height: 145px;
}

.wishlist_cart {
	height: 145px;
}

.new_arrivals {
	padding-top: unset;
}

.copyright_container {
	height: 35px;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 575px) {
	.footer_sociall ul {
		margin-bottom: 100px;
	}

	.contact_info {
		margin-top: 165px;
		padding-top: unset;
	}

	div .font {
		font-size: 15px;
	}

	div .footer_phone {
		font-size: 15px;
	}

	div .footer_title {
		font-size: 12px;
	}

	div ul.gridpay li {
		padding-top: 10%;
		width: 16%;
	}
}

.font {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	color: #000000;
}

ul.gridpay li {
	padding-top: 12%;
	width: 19%;
	border: 1px solid rgba(0, 0, 0, .06);
	background-color: #FFFFFF;
	border-radius: 2px;
	background-position: center;
	background-size: 70% auto;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 991px) {

	.deals_item_name,
	.deals_item_price {
		font-size: 16px;
	}

	.header_search {
		height: 72px;
	}

	.logo_container {
		height: 72px;
	}

	.wishlist_cart {
		height: 72px;
	}

	.product_description {
		padding-top: 20px;
	}

	.single_product {
		padding-top: 80px;
	}

	.newsletter_unsubscribe_link {
		left: unset;
		right: unset;
	}

	.newsletter_input {
		height: 36px;
	}

	.newsletter_button {
		height: 37px;
	}

	.newsletter_title {
		text-align: center;
	}

	.blogku {
		padding-top: 30px;
	}

	.loop .loopGrid.post {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}

	.search-bar {
		display: none;
	}

	.gambar {
		margin-top: 37px;
	}

	.menu-navigation {
		display: none;
	}

	.bannerku {
		display: block;
	}

	.main_nav_content {
		background: #6F472D !important;
	}

	.carousel-indicators {
		z-index: 1;
	}

	.best_sellers {
		margin-top: 10% !important;
	}

	.banner-gambar {
		position: absolute;
		top: 26%;
		left: 45%;
	}

	.banner-judul {
		position: absolute;
		top: 35%;
		left: 15%;
		width: 108px;
		font-size: unset;
	}

	.banner-button {
		position: absolute;
		top: 53%;
		left: 60%;
		color: #FFFFFF;
	}

	.banner-title {
		position: absolute;
		top: 26%;
		left: 15%;
		font-size: unset;
	}

	/* .carousel-control-next,
	.carousel-control-prev {
		margin-top: 108px !important;
	} */

	.bannerku {
		margin-top: 185px !important;
		margin-left: 0px;
		margin-right: 0px;
		height: unset;
	}

	.produk-baru-web {
		display: none !important;
	}

	.product_item {
		width: 150px;
		/* padding-left: 25px; */
		margin-left: auto;
		margin-right: auto;
	}

	.produk-baru-mobile {
		display: flex !important;
	}

	.all-produk-mobile {
		display: unset !important;
		height: unset;
		margin-top: 10%;
	}


	.header {
		position: fixed !important;
		width: 100%;
		z-index: 10;
		background: white;
	}

	.banner {
		/* height: calc(100vh - 125px); */
		height: 310px;
		padding-top: 0px;
		margin-top: 100px;
		padding-bottom: 0px;
	}

	.page_menu {
		margin-top: 0px !important;
	}

	.logo_container img {
		width: 100%;
	}

	.new_arrivals {
		padding-top: 30px !important;
	}

	.slick-dots {
		display: inline-block;
	}

	.arrivals_single {
		display: none !important;
	}

	.tabs ul {
		display: none !important;
	}

	.tabs {
		padding-top: 0px !important;
	}

	hr.batas {
		display: none !important;
	}

	.logo_footer {
		width: 50%;
		margin-right: auto;
		margin-left: auto;
	}

	.footer {
		text-align: center;
	}

	a {
		color: #6F472D;
	}

	a:hover {
		color: rgb(88, 58, 38);
	}

	.reviews_all a {
		color: #6F472D;
	}

	.header {
		margin-top: 73px;
	}

	img.logo-banner {
		width: 204%
	}

	.cart {
		margin-right: 15px;
	}
}

@media only screen and (max-width: 1600px) {}
